* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
}

/*************
Layout
**************/

/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6em 1.8em;
    background: linear-gradient(to right, #672280, #A626D3);
    color: #FFFFFF;
}

.header--main {
    display: flex;
    align-items: center;
}

.header--image {
    height: 2.4em;
    margin-right: 0.7em;
}

.header--title {
    font-size: 1.3rem;
    letter-spacing: -0.1rem;
}

.header--subtitle {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 0.75rem;
    letter-spacing: 0.03rem;
}

/* hero */

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: auto;
}

/* form */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 2.6em 0; 
}

.form--inputs{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form--inputs > input {
    width: 48%;
    padding: 1em;
    border: 1px solid #D5D4D8;
    border-radius: 5px;
    font-weight: 400;
    font-size: 0.75rem;
}

form button {
    width: 100%;
    margin-top: 1.5em;
    padding: 0.8em;
    background: linear-gradient(90deg, #711F8D 1.14%, #A818DA 100%);
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    letter-spacing: -0.08em;
}