* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
}

/*************
Layout
**************/

/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6em 1.8em;
    background: linear-gradient(to right, #672280, #A626D3);
    color: #FFFFFF;
}

.header--main {
    display: flex;
    align-items: center;
}

.header--image {
    height: 2.4em;
    margin-right: 0.7em;
}

.header--title {
    font-size: 1.3rem;
    letter-spacing: -0.1rem;
}

.header--subtitle {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 0.75rem;
    letter-spacing: 0.03rem;
}

/* main */

main {
    padding: 3em;
}

/* form */

.form {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
}

.form--input {
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
}

.form--button {
    grid-column: 1 / -1;
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    border: none;
    cursor: pointer;
}